<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= render 'form', post: @post%>
<table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <%= render @posts %>
    </tbody>
  <% @rand = {post: {title: 'Post random', content: 'Este es un post random'}}%>
  <%= link_to 'Crear Post Random', @rand, method: :post, remote: true%>
  </table>

<br>


